.nav{
  max-width: 100%;
  padding: 10px;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
}

.elm{
 padding: 10px;
 background-color: black;
 color: white;
 
}

.product-wrapper{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.card{
  width: 300px;
  /* margin-top: 50px; */
  padding: 20px;
  
}

.card img{
 max-width: 200px;
}